body{
  background-color: #17181c;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

.app__title{
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 5px 20px rgba(255,255,255,0.4);
}

.list{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.list-item {
  width: 300px;
  margin: 0 20px 60px;
  display: flex;
  flex-direction: column;
}

.list-item__title{
  text-align: center;
}

.list-item__img{
  margin: 0 auto 20px;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.6);
  transition-duration: 0.5s;
}

.list-item__img:hover{
  transform: scale(1.06);
}

.list-item__description{
  text-align: justify;
}

.list-item__link{
  margin-top: 10px;
  color: #7488ab;
  text-decoration: none;
  padding: 7px 15px;
  border: 1px solid #7488ab;
  border-radius: 3px;
  display: block;
  align-self: center;
  transition-duration: 0.5s;
}

.list-item__link:hover{
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em #fff;
  transform: translateY(-0.25em);
}