._1K88tBeajQwGC9rPIfFfRw {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

._3FM7-Cd_fH66-yLoGBKEg {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 5px 20px rgba(255, 255, 255, 0.4); }

._2bfKINGpEFC7H6EVE61SDS {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  color: #7488ab;
  border-top: 1px solid #7488ab;
  border-bottom: 1px solid #7488ab; }
  @media screen and (max-width: 800px) {
    ._2bfKINGpEFC7H6EVE61SDS {
      flex-direction: column; } }

._3Yh3tvDBNKBVHO5hO_zYvb {
  width: 100%;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center; }
  ._14pXQiEVlZ1QLV-LjpA7ym {
    color: #7488ab; }

.NovfQrH8u5nqtqAxV5TMt {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 800px) {
    .NovfQrH8u5nqtqAxV5TMt {
      flex-direction: column;
      margin: 20px 0; } }
  .NovfQrH8u5nqtqAxV5TMt ._3wVGzJcbGlOzuDcfjvYrnT {
    border: 2px solid #7488ab;
    color: #7488ab;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    transition: background-color 600ms ease, color 600ms ease;
    user-select: none; }
  ._3dcKcBAjrfqSrsTs9i5xNw {
    color: #7488ab;
    margin-right: 15px;
    margin-bottom: 0; }
    @media screen and (max-width: 800px) {
      ._3dcKcBAjrfqSrsTs9i5xNw {
        margin-right: 0;
        margin-bottom: 10px; } }
  ._2i5drbpfIlWylw3Hp7zX1J {
    overflow: hidden; }
  .zUFUQCaDnOvVOkck40gyC + label {
    border-right: 0; }
    .zUFUQCaDnOvVOkck40gyC + label:after {
      left: 100%; }
  ._1qnGeXnKKy1aERgGSFoH1p + label {
    margin-left: -5px; }
    ._1qnGeXnKKy1aERgGSFoH1p + label:after {
      left: -100%; }
  .zUFUQCaDnOvVOkck40gyC, ._1qnGeXnKKy1aERgGSFoH1p {
    display: none; }
    .zUFUQCaDnOvVOkck40gyC + label, ._1qnGeXnKKy1aERgGSFoH1p + label {
      cursor: pointer;
      min-width: 60px; }
      .zUFUQCaDnOvVOkck40gyC + label:hover, ._1qnGeXnKKy1aERgGSFoH1p + label:hover {
        background: none;
        color: #fff; }
      .zUFUQCaDnOvVOkck40gyC + label:after, ._1qnGeXnKKy1aERgGSFoH1p + label:after {
        background: #7488ab;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
        width: 100%;
        z-index: -1; }
    .zUFUQCaDnOvVOkck40gyC:checked + label, ._1qnGeXnKKy1aERgGSFoH1p:checked + label {
      cursor: default;
      color: #17181c;
      transition: color 200ms; }
      .zUFUQCaDnOvVOkck40gyC:checked + label:after, ._1qnGeXnKKy1aERgGSFoH1p:checked + label:after {
        left: 0; }

._1xiwxvSwRWQiWrXw2DJxgs {
  margin-top: 10px;
  color: #7488ab;
  text-decoration: none;
  padding: 7px 15px;
  border: 2px solid #7488ab;
  display: block;
  align-self: center;
  transition-duration: .5s;
  max-width: 150px;
  text-align: center; }
  ._1xiwxvSwRWQiWrXw2DJxgs:hover {
    color: #fff;
    border-color: #fff;
    box-shadow: 0 .5em .5em -.4em #fff;
    transform: translateY(-0.25em); }

._3fF3-fS3xK1dwGIPJYhW4F {
  width: 300px;
  margin: 0 20px 60px; }
  .Z3Zn0LAWyJ7X6mprchWNO {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; }
  .Dd7l84ntRsg9aG206mTFU {
    text-align: center;
    margin-bottom: 0;
    text-overflow: ellipsis; }
  ._3t-sQuSVTyhOpSAQ-zqSux, .A14wfWaVpe7ErAG8TIktw {
    color: #7488ab; }
  ._3-SoTgdMWjDnKNXei_mO8f {
    display: flex;
    flex-direction: column;
    align-items: center; }
  ._3tufuzzG0NwLywvIX-AZAl {
    margin: 0 auto 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
    transition-duration: .5s; }
    ._3tufuzzG0NwLywvIX-AZAl:hover {
      transform: scale(1.06); }
  .A14wfWaVpe7ErAG8TIktw {
    align-self: flex-start; }
  ._3XLZlmNhzt9VUOZy3H8NqX {
    text-align: justify; }

.yNefl0LKoTVjQaRk2_a2Q {
  display: flex;
  flex-flow: row  wrap;
  align-items: flex-start;
  justify-content: space-around; }
  .e6PWktRGIDI6dCeCqUU_G {
    font-size: 2.5em;
    color: #7488ab;
    opacity: .3;
    margin-bottom: 30px; }

.xyb0BolSUS2Woshbfb2HW {
  padding: 20px 30px;
  margin-bottom: 30px; }
  .xyb0BolSUS2Woshbfb2HW input[type='text'] {
    padding: 10px 15px;
    width: 80%; }
  .xyb0BolSUS2Woshbfb2HW input[type='text'], .xyb0BolSUS2Woshbfb2HW input[type='submit'] {
    color: #7488ab;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #7488ab;
    display: block;
    align-self: center;
    transition-duration: .5s;
    background-color: transparent;
    margin: 10px auto 20px; }
    .xyb0BolSUS2Woshbfb2HW input[type='text']:hover, .xyb0BolSUS2Woshbfb2HW input[type='text']:active, .xyb0BolSUS2Woshbfb2HW input[type='text']:focus, .xyb0BolSUS2Woshbfb2HW input[type='submit']:hover, .xyb0BolSUS2Woshbfb2HW input[type='submit']:active, .xyb0BolSUS2Woshbfb2HW input[type='submit']:focus {
      color: #fff;
      border-color: #fff;
      box-shadow: 0 .5em .5em -.4em #fff;
      transform: translateY(-0.25em); }

._2y-zs47Ka45IEpD6P7GNVo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 30px; }
  @media screen and (max-width: 800px) {
    ._2y-zs47Ka45IEpD6P7GNVo {
      flex-direction: column;
      align-items: center; } }
  ._2GRp9x-uDWZOB3O9t4FBXe {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px; }
    @media screen and (max-width: 800px) {
      ._2GRp9x-uDWZOB3O9t4FBXe {
        width: 100%; } }
  ._1vkes4fXAFe9YU20lPLjc0 {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #7488ab; }
  ._3_g_TepGPwGOWR2GNJX8L_ {
    font-size: 1.6em;
    line-height: 1.6em; }
  ._15OhLZnCnpS3ONeR1YgB4 {
    position: relative;
    top: -10px; }
  ._15OhLZnCnpS3ONeR1YgB4, .w31DseeloG8mWCTfiqqTC {
    color: #7488ab; }

.REj4pDoiqoXDde1tEOEay {
  width: 300px;
  margin: 0 20px 60px; }
  .d9HgJ-JKo9PATXMH3JmEY {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; }
  .Bk7EXKTDKGDIxKSksw8tU {
    text-align: center;
    margin-bottom: 0;
    text-overflow: ellipsis; }
  ._356CvO7FN4uzMNW1-pKmar, ._142n7XR8ZAXzWB1_QC4VXA {
    color: #7488ab; }
  ._2Yj0Cp47e8awPdYPLsgjXa {
    display: flex;
    flex-direction: column;
    align-items: center; }
  ._2KQEfTQHZsCWUewJ33quH5 {
    margin: 0 auto 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
    transition-duration: .5s; }
    ._2KQEfTQHZsCWUewJ33quH5:hover {
      transform: scale(1.06); }
  ._142n7XR8ZAXzWB1_QC4VXA {
    align-self: flex-start; }
  ._3-s7vaR6jeV4etC5rex6Go {
    text-align: justify; }

._125Gizq6wjyhIPS8OZhlNV {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  ._3SHXI0-uc4kl77P4PkrAra {
    font-size: 2em;
    color: #e68aa7; }
  ._1O0gLfplnq1URc8IyvRMRm {
    font-size: 1.5em;
    color: #e6c68a; }
  .a3drXa-NnhJDYjhN2sPem {
    color: #e0e68a;
    font-weight: 700;
    margin-right: 10px; }
  ._2pup_GCD97KYkxp8aynJ3F {
    margin: 0 0 0 40px;
    padding: 0; }

* {
  font-size: 17px;
  box-sizing: border-box; }

body {
  background-color: #17181c;
  color: #fff;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

._2TvFzI3O3Hg92bf2P-L2LC {
  max-width: 1200px;
  margin: 0 auto; }

