._10a_HJ6ucftq57BxsFF9Ud {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

._2gtN2FFSiZx1zg02TL83jZ {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 5px 20px rgba(255, 255, 255, 0.4); }

._1K9iPyPwGU97wBH-ZI5x-j {
  width: 100%;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center; }
  .pT7WZpzfRKwcZlBucMkzr {
    color: #7488ab; }

.ePLM7igxxdijg4t7sKoWM {
  margin-top: 10px;
  color: #7488ab;
  text-decoration: none;
  padding: 7px 15px;
  border: 2px solid #7488ab;
  display: block;
  align-self: center;
  transition-duration: .5s;
  max-width: 150px;
  text-align: center; }
  .ePLM7igxxdijg4t7sKoWM:hover {
    color: #fff;
    border-color: #fff;
    box-shadow: 0 .5em .5em -.4em #fff;
    transform: translateY(-0.25em); }

._1d8UOK3qytenvit3iy7JyQ {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 800px) {
    ._1d8UOK3qytenvit3iy7JyQ {
      flex-direction: column;
      margin: 20px 0; } }
  ._1d8UOK3qytenvit3iy7JyQ ._1LhTHl7yI2sR0mF14XW102 {
    border: 2px solid #7488ab;
    color: #7488ab;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    transition: background-color 600ms ease, color 600ms ease;
    user-select: none; }
  ._3ankVYuKx4UW_4Z6FsYSSE {
    color: #7488ab;
    margin-right: 15px;
    margin-bottom: 0; }
    @media screen and (max-width: 800px) {
      ._3ankVYuKx4UW_4Z6FsYSSE {
        margin-right: 0;
        margin-bottom: 10px; } }
  .pLfbLsKC99yqzr0oUDbED + label {
    border-right: 0; }
    .pLfbLsKC99yqzr0oUDbED + label:after {
      left: 100%; }
  ._20c3KGn9xcD_2svbX_6L2H + label {
    margin-left: -5px; }
    ._20c3KGn9xcD_2svbX_6L2H + label:after {
      left: -100%; }
  .pLfbLsKC99yqzr0oUDbED, ._20c3KGn9xcD_2svbX_6L2H {
    display: none; }
    .pLfbLsKC99yqzr0oUDbED + label, ._20c3KGn9xcD_2svbX_6L2H + label {
      cursor: pointer;
      min-width: 60px; }
      .pLfbLsKC99yqzr0oUDbED + label:hover, ._20c3KGn9xcD_2svbX_6L2H + label:hover {
        background: none;
        color: #fff; }
      .pLfbLsKC99yqzr0oUDbED + label:after, ._20c3KGn9xcD_2svbX_6L2H + label:after {
        background: #7488ab;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
        width: 100%;
        z-index: -1; }
    .pLfbLsKC99yqzr0oUDbED:checked + label, ._20c3KGn9xcD_2svbX_6L2H:checked + label {
      cursor: default;
      color: #17181c;
      transition: color 200ms; }
      .pLfbLsKC99yqzr0oUDbED:checked + label:after, ._20c3KGn9xcD_2svbX_6L2H:checked + label:after {
        left: 0; }

._1H-MDI_HxFPfR7uoW0EwfG {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  color: #7488ab;
  border-top: 1px solid #7488ab;
  border-bottom: 1px solid #7488ab; }
  @media screen and (max-width: 800px) {
    ._1H-MDI_HxFPfR7uoW0EwfG {
      flex-direction: column; } }

._3uY4UOq2YMos_aMj8aORus {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  ._1NLytivbzV-E8JYONLCZ_F {
    font-size: 2em;
    color: #e68aa7; }
  ._1SuAEGlBygaudI1AN-gHw3 {
    font-size: 1.5em;
    color: #e6c68a; }
  .WCUtqaHWm1Qj36vPVmpCD {
    color: #e0e68a;
    font-weight: 700;
    margin-right: 10px; }
  ._3xcOyWHpSskji_FgO-KV_0 {
    margin: 0 0 0 40px;
    padding: 0; }

._31dZ2xQRWsAxt__SkC0ElT {
  width: 300px;
  margin: 0 20px 60px; }
  ._2Z1OBwvMuLhZhE7PZv8lSY {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; }
  ._1gRqvP5pcC_vBeBqdDFWvu {
    text-align: center;
    margin-bottom: 0; }
  .sxuZ9G7-oXz7XmQN1RMXH, ._1nyvph0xwJh6Jz5Itgk2JF {
    color: #7488ab; }
  ._2r5S9ZUcE8se_ZzJiLI0m9 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  ._1oeasn4cHc_uXWwGKyCICx {
    margin: 0 auto 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
    transition-duration: .5s; }
    ._1oeasn4cHc_uXWwGKyCICx:hover {
      transform: scale(1.06); }
  ._1nyvph0xwJh6Jz5Itgk2JF {
    align-self: flex-start; }
  ._1d00b9BtGjTPERAwMm0xL5 {
    text-align: justify; }

._3UyXBkT-dPj2TrWEzr74rR {
  display: flex;
  flex-flow: row  wrap;
  align-items: flex-start;
  justify-content: space-around; }
  ._3tqKN_j8TpJGiNsEknMus0 {
    font-size: 2.5em;
    color: #7488ab;
    opacity: .3;
    margin-bottom: 30px; }

._289TphSnsRZlDevRw0nQZM {
  padding: 20px 30px;
  margin-bottom: 30px; }
  ._289TphSnsRZlDevRw0nQZM input[type='text'] {
    padding: 10px 15px;
    width: 80%; }
  ._289TphSnsRZlDevRw0nQZM input[type='text'], ._289TphSnsRZlDevRw0nQZM input[type='submit'] {
    color: #7488ab;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #7488ab;
    display: block;
    align-self: center;
    transition-duration: .5s;
    background-color: transparent;
    margin: 10px auto 20px; }
    ._289TphSnsRZlDevRw0nQZM input[type='text']:hover, ._289TphSnsRZlDevRw0nQZM input[type='text']:active, ._289TphSnsRZlDevRw0nQZM input[type='text']:focus, ._289TphSnsRZlDevRw0nQZM input[type='submit']:hover, ._289TphSnsRZlDevRw0nQZM input[type='submit']:active, ._289TphSnsRZlDevRw0nQZM input[type='submit']:focus {
      color: #fff;
      border-color: #fff;
      box-shadow: 0 .5em .5em -.4em #fff;
      transform: translateY(-0.25em); }

.yOL0f2RI_bLybSgcqkAzn {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 30px; }
  @media screen and (max-width: 800px) {
    .yOL0f2RI_bLybSgcqkAzn {
      flex-direction: column;
      align-items: center; } }
  ._2KX0rvJI9BgTiIP88TMFee {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px; }
    @media screen and (max-width: 800px) {
      ._2KX0rvJI9BgTiIP88TMFee {
        width: 100%; } }
  ._2YnT4k1xnekuo--jHgs5HW {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #7488ab; }
  ._2m_nJdgzOLDJOoaQKKehPk {
    font-size: 1.6em;
    line-height: 1.6em; }
  ._3BfYDK0-uk3XXHQzdLc68o {
    position: relative;
    top: -10px; }
  ._3BfYDK0-uk3XXHQzdLc68o, ._1S-zJa3y6ihlvS7JRiY7FN {
    color: #7488ab; }

* {
  font-size: 17px;
  box-sizing: border-box; }

body {
  background-color: #17181c;
  color: #fff;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

._3WU2n5mXqinHIUj5FUPtKX {
  max-width: 1200px;
  margin: 0 auto; }

