body {
  background-color: #17181c;
  color: #fff;
  font-family: Helvetica, sans-serif; }

.movie-item {
  width: 300px;
  margin: 0 20px 60px;
  display: flex;
  flex-direction: column; }
  .movie-item__title {
    text-align: center; }
  .movie-item__img {
    margin: 0 auto 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
    transition-duration: .5s; }
    .movie-item__img:hover {
      transform: scale(1.06); }
  .movie-item__description {
    text-align: justify; }
  .movie-item__link {
    margin-top: 10px;
    color: #7488ab;
    text-decoration: none;
    padding: 7px 15px;
    border: 1px solid #7488ab;
    border-radius: 3px;
    display: block;
    align-self: center;
    transition-duration: .5s; }
    .movie-item__link:hover {
      color: #fff;
      border-color: #fff;
      box-shadow: 0 .5em .5em -.4em #fff;
      transform: translateY(-0.25em); }

.movie-item__title {
  text-align: center; }

.movie-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row  wrap;
  align-items: flex-start;
  justify-content: space-around; }

.app__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 5px 20px rgba(255, 255, 255, 0.4); }

