.movie-item {
  width: 300px;
  margin: 0 20px 60px;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__img {
    margin: 0 auto 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .6);
    transition-duration: .5s;

    &:hover {
      transform: scale(1.06);
    }
  }

  &__description {
    text-align: justify;
  }

  &__link {
    margin-top: 10px;
    color: #7488ab;
    text-decoration: none;
    padding: 7px 15px;
    border: 1px solid #7488ab;
    border-radius: 3px;
    display: block;
    align-self: center;
    transition-duration: .5s;

    &:hover {
      color: #fff;
      border-color: #fff;
      box-shadow: 0 .5em .5em -.4em #fff;
      transform: translateY(-.25em);
    }
  }
}

.movie-item__title {
  text-align: center;
}